0.0.0.0:5000
root /var/www/html/
tls off
log / stdout "{combined}"
git {
	repo     https://github.com/pymedusa/medusa.github.io
	branch   master
	interval 86400
	hook     {%WEBHOOK_PATH%} {%WEBHOOK_SECRET%}
}
git {
	repo     https://github.com/pymedusa/Medusa
	path     /var/www/medusa
	branch   develop
	interval 86400
	hook     {%MEDUSA_WEBHOOK_PATH%} {%MEDUSA_WEBHOOK_SECRET%}
	then     cp /var/www/medusa/CHANGELOG.md /var/www/html/news/CHANGELOG.md
}
