0.0.0.0:5000
root /var/www/html/
tls off
log / stdout "{combined}"
git {
	repo     https://github.com/pymedusa/medusa.github.io
	branch   master
	interval 86400
	hook {%WEBHOOK_PATH%} {%WEBHOOK_SECRET%}
}
